.center {
  padding-top: 5%;
    display: flex;
    justify-content: center;

  }


  .noso{
	font-family: 'Times New Roman', Times, serif;

    font-weight: 1000;
    font-size: 65px;
    color: rgb(15, 15, 15);


  }
 



  