
<div class="headerContainer ">
    <header class="header">
        <div class="header__logo">
          <a href="#inicio">
            <img src="assets/imagenes/LogoEspoz.png" alt=""/>
          </a>
        </div>

        <label  id="barMenu" class="header__btn">
            Menú 
        </label>
        <nav class="header__nav " id="navMenu">
            <a href="#inicio" class="btn btn-primary">Sucursales</a>
            <a href="#nosotros " class="btn btn-primary">Sobre Nosotros</a>
            <a href="#contacto" class="btn btn-primary">Contacto</a>
          
            <a  href="https://www.facebook.com/profile.php?id=100085369662696" > <mat-icon style="color: blue ; font-size: 50px;">facebook</mat-icon>   </a>
        </nav>
        
    </header>
  </div>
  