.center {
    display: flex;
    justify-content: space-around;
    font-weight: 500;
  
  }
  
  .formulario{
    padding-top: 50pc;
  }
  
  .hero {
    padding: 20px;
    width: 100%;
    max-width: 8000px;
    border-radius: 20px;
    align-content: center;
    
    
  
  }

.telefonos {
  padding: 20px 20px 20px ;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  width: 100%;
  max-width: auto;
  border-radius: 80px;
  align-content: center;
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);


}

.redondear{
  background-color: #e2d73ea4;
  height:130px ;
  max-width: 500px;
  border: rgb(15, 15, 15) 2px solid;
  

}
.color {
  color: rgb(14, 14, 14);
  
}
.mat-card-subtitle{
  font-weight: 500;
  font-size: 16px;
  color: rgb(14, 14, 14);
}

@media (max-width: 750px) {

  #ajusteTelefonos{
    grid-template-columns: repeat(2, 1fr); 
      }  
    
    } 

