
<div class="hero">
  <h1 class="center ">Tambien puedes llamarnos !</h1>
    <div id = "ajusteTelefonos" class="telefonos">
        <mat-card class="redondear" *ngFor="let sucursal of sucursales">
            <mat-card-header class="color">
              <mat-card-title><mat-icon>phone</mat-icon> {{sucursal.name}}</mat-card-title>
              <mat-card-subtitle>{{sucursal.telefono1}}</mat-card-subtitle>
              <mat-card-subtitle>{{sucursal.telefono2}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
         
        <div >
        </div>
    </div> 
    </div>
    
  