

     <div id="contacto" class="containerContact">
        <div class="contact">
            <h2 class="contact__title">Realiza tus consultas </h2>
            <div id= "ajuste" class="rowi">  
                <app-pagina-contacto></app-pagina-contacto>  
                    
                     
                <app-telefonos-contacto></app-telefonos-contacto>
            </div>
            <div class="contact__rrss">
                <a  href="https://www.facebook.com/profile.php?id=100085369662696" > <mat-icon>facebook</mat-icon> Siguenos en facebook y enterate de las novedades    </a>
            </div>
            
        </div>
    </div>